form {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-flow: column;
  gap: 0.25rem;

  & > span {
    cursor: default;
    text-align: left;
    font-size: var(--font-size-label);
    line-height: var(--leading-label);
  }

  &.invalid {
    & > span {
      color: var(--text-critical);
    }

    & > input,
    & > select,
    & > textarea {
      padding-bottom: calc(0.375rem - 1px) !important;
      border-bottom-width: 2px !important;
      border-bottom-color: var(--text-critical) !important;
    }
  }

  & > .legends {
    display: flex;
    place-self: stretch;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-label);
    line-height: var(--leading-label);
    color: var(--text-secondary);
    z-index: 0;

    & > *:nth-child(1) {
      flex: 0 0 calc(20% - 0.3125rem);
    }

    & > *:nth-child(2) {
      flex: 0 1;
      text-align: left;
      padding-right: 0.75rem;
    }

    & > *:nth-child(3) {
      flex: 1 1 auto;
    }

    & > *:nth-child(4) {
      flex: 0 1;
      text-align: right;
      padding-left: 0.75rem;
    }
  }

  & > input {
    z-index: 1;
  }

  & > .scale {
    display: flex;
    place-self: stretch;
    justify-content: space-between;
    text-align: center;
    font-size: var(--font-size-stamp);
    line-height: var(--leading-stamp);
    color: var(--text-primary);
    margin: -6px 6px 0 6px;
    z-index: 0;

    @nest .dark & {
      color: var(--text-secondary);
    }

    & > option:first-child {
      color: transparent;
    }

    & > option {
      position: relative;
      padding-top: 8px;

      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 6px;
        top: 0;
        left: calc(50% - 0.5px);
        background: #bbb;

        @nest .dark & {
          background: #444;
        }
      }
    }
  }
}

input,
select,
textarea {
  &:not([type='hidden']):not([type='button']):not([type='checkbox']):not([type='file']):not([type='image']):not([type='radio']):not([type='range']):not([type='reset']):not([type='submit']) {
    transition-property: var(--transition-property);
    transition-timing-function: var(--transition-timing-function);
    transition-duration: var(--transition-duration);
    background: #ffffffb3;
    border: solid 1px #0000000f;
    border-bottom-color: #00000072;
    border-radius: var(--rounded-sm);
    font-size: var(--font-size-body);
    line-height: var(--leading-body);
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-height: 2rem;

    &:is(select) {
      appearance: none;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      background-image: url('/src/images/icon-chevron-down-light.svg');
      background-repeat: no-repeat;
      background-size: 0.375rem 0.5rem;
      background-position: calc(100% - 0.5rem) center;
      background-clip: border-box;

      &,
      & option {
        accent-color: var(--text-accent);
      }

      &[data-value=''] {
        color: var(--text-secondary);
      }

      & option[value=''] {
        color: var(--text-secondary);

        @nest .dark & {
          color: var(--text-inverted-secondary);
        }
      }

      & option:not([value='']) {
        color: var(--text-primary);

        @nest .dark & {
          color: var(--text-inverted-primary);
        }
      }
    }

    &::placeholder {
      color: var(--text-secondary);
    }

    &:not(:disabled):hover {
      background-color: #f5f5f5b3;
    }

    &:focus-visible,
    &:not(:placeholder-shown):invalid {
      padding-bottom: calc(0.375rem - 1px);
      border-bottom-width: 2px;

      &:is(select) {
        padding-bottom: calc(0.25rem - 1px);
      }
    }

    &:focus-visible {
      border-bottom-color: var(--text-accent);
    }

    &:not(:placeholder-shown):invalid {
      border-bottom-color: var(--text-critical);
    }

    &:disabled {
      color: var(--text-disabled);
      background-color: #f9f9f94d;
      border-color: #0000000f;

      &::placeholder {
        color: var(--text-disabled);
      }
    }

    @nest .dark & {
      background-color: #ffffff0d;
      border-color: #ffffff14;
      border-bottom-color: #ffffff8b;

      &:is(select) {
        background-image: url('/src/images/icon-chevron-down-dark.svg');
      }

      &:not(:disabled):hover {
        background-color: #ffffff15;
      }

      &:focus-visible {
        border-bottom-color: var(--accent-light-2);
      }

      &:disabled {
        background-color: #ffffff0b;
        border-color: #ffffff12;
      }
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus-visible,
    &:-webkit-autofill:active {
      /* HACK: Hook when auto fill is shown, so JavaScript can capture on 'animationstart'. */
      animation: auto-fill-start 0s;

      /* HACK: Make real auto fill color transition takes all the day. */
      transition-property: background-color, color;
      transition-duration: 86400s;
      transition-timing-function: ease-in-out;
      transition-delay: 0s;
    }

    &:not(:-webkit-autofill) {
      /* HACK: Hook when auto fill is canceled, so JavaScript can capture on 'animationstart'. */
      animation: auto-fill-end 0s;
    }
  }
}

@keyframes auto-fill-start {
  0%,
  100% {
    /* HACK: Empty just to ensure 'animationstart' will trigger 'auto-fill-start'. */
  }
}

@keyframes auto-fill-cancel {
  0%,
  100% {
    /* HACK: Empty just to ensure 'animationstart' will trigger 'auto-fill-cancel'. */
  }
}

.check-field {
  display: inline-flex;
  gap: 0.5rem;
  font-size: var(--font-size-body);
  line-height: var(--leading-body);
  color: var(--text-primary);
  padding: 0.375rem 0;

  & > span {
    position: relative;
    top: 1px;
  }

  & > input[type='checkbox'],
  & > input[type='radio'] {
    transition-property: var(--transition-property);
    transition-timing-function: var(--transition-timing-function);
    transition-duration: var(--transition-duration);
    flex: 0 0 auto;
    appearance: none;
    display: inline-grid;
    place-items: center;
    width: 1.125rem;
    height: 1.125rem;
    border-style: solid;
    border-width: 1px;
  }

  &:not([disabled]) {
    &,
    & > input[type='checkbox'],
    & > input[type='radio'] {
      cursor: pointer;
    }

    &:not(:active) {
      & > input[type='checkbox'],
      & > input[type='radio'] {
        &::before {
          background: var(--text-inverted-primary);
        }

        &:not(:checked):not([type='checkbox']:indeterminate) {
          background: #00000006;
          border-color: #00000072;

          &:hover {
            background: #0000000f;
          }

          @nest .dark & {
            background: #0000001a;
            border-color: #ffffff8b;

            &:hover {
              background: #ffffff0b;
            }
          }
        }

        &:checked,
        &[type='checkbox']:indeterminate {
          background: var(--accent-base);
          border-color: var(--accent-base);

          &:hover {
            background: #09323ce6;
            border-color: #09323ce6;
          }

          @nest .dark & {
            background: var(--accent-light-1);
            border-color: var(--accent-light-1);

            &:hover {
              background: #49d5f0e6;
              border-color: #49d5f0e6;
            }
          }
        }
      }
    }

    &:active {
      & > input[type='radio'] {
        &::before {
          transform: scale(0.75);
        }
      }

      & > input[type='checkbox'],
      & > input[type='radio'] {
        &::before {
          background: var(--text-inverted-tertiary);
        }

        &:not(:checked):not([type='checkbox']:indeterminate) {
          background: #00000018;
          border-color: #00000037;

          @nest .dark & {
            background: #ffffff12;
            border-color: #ffffff28;
          }
        }

        &:checked,
        &[type='checkbox']:indeterminate {
          background: #09323ccc;
          border-color: #09323ccc;

          @nest .dark & {
            background: #49d5f0cc;
            border-color: #49d5f0cc;
          }
        }
      }
    }
  }

  &[disabled] {
    & > span {
      color: var(--text-disabled);
    }

    &,
    & > input[type='checkbox'],
    & > input[type='radio'] {
      cursor: default;
    }

    & > input[type='checkbox'],
    & > input[type='radio'] {
      &::before {
        background: var(--text-inverted-disabled);
      }

      &:not(:checked):not([type='checkbox']:indeterminate) {
        background: #00000000;
        border-color: #00000037;

        @nest .dark & {
          background: #ffffff00;
          border-color: #ffffff28;
        }
      }

      &:checked,
      &[type='checkbox']:indeterminate {
        background: #00000037;
        border-color: #00000000;

        @nest .dark & {
          background: #ffffff28;
          border-color: #ffffff00;
        }
      }
    }
  }

  & > input[type='checkbox'],
  & > input[type='radio'] {
    &::before {
      transition-property: var(--transition-property);
      transition-timing-function: var(--transition-timing-function);
      transition-duration: var(--transition-duration);
      content: '';
      opacity: 1;
    }
  }

  & > input[type='checkbox'] {
    border-radius: var(--rounded-md);

    &:indeterminate::before {
      width: 0.5rem;
      height: 1px;
      opacity: 1;
    }

    &:checked::before {
      width: 0.625rem;
      height: 0.4375rem;
      clip-path: path(
        'M0 3.49805C0 3.36133 0.0488281 3.24414 0.146484 3.14648C0.244141 3.04883 0.361328 3 0.498047 3C0.634766 3 0.751953 3.04883 0.849609 3.14648L3.49805 5.79492L9.14648 0.146484C9.24414 0.0488281 9.36133 0 9.49805 0C9.56836 0 9.63281 0.0136719 9.69141 0.0410156C9.75391 0.0644531 9.80664 0.0996094 9.84961 0.146484C9.89648 0.189453 9.93359 0.242188 9.96094 0.304688C9.98828 0.363281 10.002 0.427734 10.002 0.498047C10.002 0.634766 9.95117 0.753906 9.84961 0.855469L3.84961 6.85547C3.75195 6.95312 3.63477 7.00195 3.49805 7.00195C3.36133 7.00195 3.24414 6.95312 3.14648 6.85547L0.146484 3.85547C0.0488281 3.75781 0 3.63867 0 3.49805Z'
      );
      opacity: 1;
    }
  }

  & > input[type='radio'] {
    border-radius: var(--rounded-full);

    &::before {
      transform: scale(0);
    }

    &:checked::before {
      width: 0.625rem;
      height: 0.625rem;
      border-radius: var(--rounded-full);
      opacity: 1;
      transform: scale(1);
    }
  }
}

.range-track {
  box-sizing: border-box;
  background: #00000072;
  width: 100%;
  height: 0.25rem;
  margin-top: -1px;
  border-radius: var(--rounded-md);

  @nest .dark & {
    background: #ffffff8b;
  }
}

.range-track-disabled {
  background: #00000051;

  @nest .dark & {
    background: #ffffff3f;
  }
}

.range-thumb {
  transition-property: var(--transition-property);
  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration);
  box-sizing: border-box;
  appearance: none;
  border: none;
  margin-top: -8px;
  height: 1.25rem;
  width: 1.25rem;
  background: var(--text-accent);
  border-radius: var(--rounded-full);
  border: solid 4px #ffffff;
  outline: solid 1px #00000029;
  outline-offset: 0;

  &:hover {
    border-width: 3px;
  }

  &:active {
    border-width: 5px;
    background: #3a5b63;
  }

  @nest .dark & {
    background: var(--accent-light-1);
    border-color: #454545;
    outline-color: #ffffff12;

    &:active {
      background: #48b8ce;
    }
  }
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background: transparent;
  border-radius: var(--rounded-sm);
  cursor: pointer;
  height: 1.375rem;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: default;
  }

  &::-webkit-slider-runnable-track {
    @reuse .range-track;
  }

  &:disabled::-webkit-slider-runnable-track {
    @reuse .range-track-disabled;
  }

  &::-moz-range-track {
    @reuse .range-track;
  }

  &:disabled::-moz-range-track {
    @reuse .range-track-disabled;
  }

  &::-webkit-slider-thumb {
    @reuse .range-thumb;
  }

  &::-moz-range-thumb {
    @reuse .range-thumb;

    margin-top: -8px;
    height: 1.25rem;
    width: 1.25rem;
  }

  &::-moz-range-progress {
    background: var(--accent-base);
    border-radius: var(--rounded-sm);
    height: 0.25rem;

    @nest .dark & {
      background: var(--accent-light-1);
    }
  }

  &::before {
    content: '';
    background: var(--accent-base);
    border-radius: var(--rounded-sm);
    height: 0.25rem;
    position: absolute;
    top: calc(50% - 0.125rem);
    mask: radial-gradient(
      circle at calc(100% - 6px),
      transparent 6px,
      #fff 6px
    );

    @nest .dark & {
      background: var(--accent-light-1);
    }
  }

  &[data-value='1']::before {
    width: calc(20% * 1 + 7.5px);
  }

  &[data-value='2']::before {
    width: calc(20% * 2 + 4px);
  }

  &[data-value='3']::before {
    width: calc(20% * 3);
  }

  &[data-value='4']::before {
    width: calc(20% * 4 - 4px);
  }

  &[data-value='5']::before {
    width: calc(20% * 5 - 8.5px);
  }
}
