.rounded-sm {
  border-radius: var(--rounded-sm);
}

.rounded-md {
  border-radius: var(--rounded-md);
}

.rounded-lg {
  border-radius: var(--rounded-lg);
}

.rounded-full {
  border-radius: var(--rounded-full);
}

.space-4 {
  gap: 1rem;
}

.space-6 {
  gap: 1.5rem;
}

.space-8 {
  gap: 2rem;
}
