table {
  width: 100%;
  display: block;
  overflow: hidden;
  overflow-x: auto;
  border: solid 1px #0000000f;
  border-bottom: none;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-card-rest);

  @nest .dark & {
    border-color: #0000001a;
  }

  @media (width >= 768px) {
    display: table;
    overflow-x: hidden;
  }

  & thead,
  & tfoot {
    background: #ffffffb3;
    text-align: left;
    font-size: var(--font-size-body-strong);

    @nest .dark & {
      background: #ffffff0f;
    }
  }

  & tbody {
    background: #f9f9f980;

    @nest .dark & {
      background: #ffffff15;
    }
  }

  & th,
  & tr:not(.details) td {
    padding: 0.9375rem 1rem 1rem;
    height: 3rem;
  }

  & tr {
    transition-property: var(--transition-property);
    transition-timing-function: var(--transition-timing-function);
    transition-duration: var(--transition-duration);
  }

  & tr.detailable {
    cursor: pointer;

    &:hover {
      background: #00000014;

      @nest .dark & {
        background: #ffffff15;
      }
    }
  }

  & tr.open,
  & tr.details,
  & tr.highlighted {
    background: #00000014;

    @nest .dark & {
      background: #ffffff15;
    }
  }

  & tbody {
    & td {
      & .icon,
      & svg[role='presentation'],
      & button,
      & [type='button'],
      & [type='reset'],
      & [type='submit'],
      & [role='button'] {
        display: inline-block;
        margin: -0.5rem 0;
      }

      & .icon,
      & svg[role='presentation'] {
        position: relative;
        top: -1px;
        margin-right: 2px;
      }
    }
  }

  & th,
  & tr:not(.open) td {
    border-bottom: solid 1px #00000014;

    @nest .dark & {
      border-bottom-color: #ffffff15;
    }
  }

  & tr.details {
    visibility: collapse;
    transform-origin: top center;
    transform: scaleY(0);
    opacity: 0;

    &.open {
      visibility: visible;
      transform: scaleY(1);
      opacity: 1;
    }

    & > td {
      padding: 0.25rem 1rem 1rem;
    }

    & .card {
      display: block;
      columns: 240px 3;
      column-gap: 1.5rem;
      background: #f9f9f980;
      border: solid 1px #00000014;

      @nest .dark & {
        background: #ffffff15;
        border-color: #ffffff15;
      }

      & p {
        padding: 0.125rem 0;
      }
    }
  }

  & tfoot tr td {
    border-bottom: none !important;
  }

  & table {
    width: 100%;
    display: block;
    box-shadow: none;

    & tbody {
      width: 100%;
      display: table;
      border-radius: inherit;
    }

    & td {
      padding: 0.5rem 1rem;
      height: 2rem;

      &:not(:last-of-type) {
        border-right: solid 1px #00000014;

        @nest .dark & {
          border-right-color: #ffffff15;
        }
      }
    }
  }
}

.pagination {
  & td > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 0.75rem;
    column-gap: 0.375rem;
    margin: 0 -1rem;

    @media (width >= 768px) {
      margin: 0;
    }

    & p {
      font-size: var(--font-size-label);
      line-height: var(--leading-label);
      color: var(--text-secondary);
      flex: 1 0 100%;
      text-align: center;
      order: 1;

      @media (width >= 768px) {
        flex: 1;
        order: 0;
        text-align: right;
        padding-right: 0.75rem;
      }
    }

    & span {
      color: var(--text-secondary);
      margin: 0 0.25rem;
    }

    & button {
      border-radius: var(--rounded-full);
      width: 2rem;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
